proyectos_neat_beans/POJO_Envios/xml-resources/web-service-references/WS_Mensajeria/wsdl/localhost_8080/WS_Mensajeria/WS_Mensajeria.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_mensajeria/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_mensajeria/">

<xs:element name="envios" type="tns:envios"/>

<xs:element name="registrarEnvio" type="tns:registrarEnvio"/>

<xs:element name="registrarEnvioResponse" type="tns:registrarEnvioResponse"/>

<xs:complexType name="registrarEnvio">
<xs:sequence>
<xs:element name="idPedido" type="xs:int"/>
<xs:element name="idCliente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarEnvioResponse">
<xs:sequence>
<xs:element name="return" type="tns:envios" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="envios">
<xs:sequence>
<xs:element name="fechaEntrega" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCliente" type="xs:int"/>
<xs:element name="idEnvio" type="xs:int" minOccurs="0"/>
<xs:element name="idPedido" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>